---
---

@import "minima";

.site-header {display: none;}

.site-footer {display: none;}

.post-content h1 {
    font-size: 36px;
    border-bottom: 5px solid #7a0000;
    color:cornflowerblue;
}

.post-content h2 {
    font-size: 30px;
    font-style: italic;
    color:darkcyan;
}
